body {
  background-color: #060505;
  color: aliceblue;
  box-sizing: border-box;
  margin: 0;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  user-select: none;
}

nav > img {
  max-width: 200px;
}
.top {
  max-width: 320px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
.logo {
  width: 150px;
  margin: 0 auto;
  border-radius: 25%;
}

#inputel {
  color: #432000;
  background-color: #dce1e8;
  text-align: center;
  padding: 15px;
  border: 0;
  border-radius: 8px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  margin: 10px 0;
}
#add {
  background-color: #00ff5505;
  color: #26d5bf;
  text-align: center;
  padding: 15px;
  border: 4px #26d5bf solid;
  border-radius: 8px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}
#add:hover {
  background-image: radial-gradient(
    circle farthest-side at -50% 50%,
    #1c1c1c,
    #097068
  );
  box-shadow: inset 2px -3px 16px 0px #0a5c57, -1px -1px 3px 0px #26d5bf;
  cursor: pointer;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}
ul li {
  font-size: x-large;
  text-align: center;
  flex-grow: 1;
  background-color: rgb(0 0 0);
  border: 2px #79abcd solid;
  box-shadow: 0px 1px 4px rgba(253, 253, 253, 0.2);
  padding: 15px;
  border-radius: 8px;
}
li:hover {
  background-color: rgba(144, 205, 244, 0.12);
  cursor: pointer;
}
